.main-panel {
  background: none;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 40vh;
  padding: 6px;
}

.thread-header {
  border-bottom: 0.5px solid #999;
  font-weight: 500;
}

.main-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  padding-left: 12px;
}

.chat-list {
  border-right: 1px solid darkgray;
  /* padding-right: 12px; */
}

.chat-list ul {
  padding-left: 0;
}

.chat-list li {
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 4px;
  padding: 8px 10px;
}

.chat-list li.selected {
  background-color: rgb(200, 249, 198);
}

.current-chat {
  display:flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100px;
  max-height: 90vh;
}

.chat-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: scroll;
  padding: 12px 0px 12px 0px;
}

.message {
  align-items: flex-end;
  background-color: lightblue;  
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 12px;
  /* margin: 5px; */
}

.message p {
  margin: 0;
}

.message.from-me {
  align-self: flex-end;
  background: pink;
  margin-left: 40px;
}

.message.from-them {
  align-self: flex-start;
  flex-direction: row-reverse;
  margin-right: 40px;
}

.input-bar {
  align-items: stretch;
  align-self: stretch;
  display: flex;
  padding-left: 12px;
}

.input-message {
  flex: 1 0 auto;
  padding: 8px;
}